@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ADD CLINIC</h2>

<form action="/product/create" method="post">
   
	<div class="form-group">
	    <label  >Name</label>
	    <input type="text" name="Name" class="form-control input-md" required>
  	</div>
	<div class="form-group">
	    <label >Location</label>
	    <textarea name="Location" class="form-control textarea-md" required>text here</textarea>
  	</div>
		
	<div class="form-group">
	    <label >Scedule</label>
	    <input type="text" name="Schedule" class="form-control input-md" required>
  	
  		<div class="form-group">
	    <label >Contact Info</label>
	    <input type="text" name="ContactInfo"  class="form-control input-md" required>
  	</div>
  	
  	</div>	
  		<div class="form-group">
	    <label >Services</label>
	   
	    <textarea name="Services" class="form-control textarea-md" required>text here</textarea>
  	</div>
		
		
		
  	<div><button type="submit" class="btn btn-primary" onclick="return confirm('Added Succesfully')">Add</button></div>
  	<br>
  	<a href="/product/add" class="btn btn-primary btn-sm" style="margin-left:5px">View Records</a>
</form>